@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --main-Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --main-White: hsl(0, 0%, 100%);

  --max-width: 1440px;
}

/* Body styling */
body {
  background-color: var(--main-Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main */
/* Card Component */
.container {
  max-width: 600px;
  height: auto;
  /* max-width: var(--max-width); */
  width: 666px;
  display: flex;
  background-color: var(--main-White);
  border-radius: 10px;
  margin-top: 110px;
  overflow: hidden;
}

.image-container {
  width: 333px;
  height: inherit;
}

.image-container img {
  width: 100%;
  height: 100%;
}

/* Card copy */
.copy-container {
  padding: 20px;
  width: 333px;
}

.copy-container h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  font-kerning: none;
  letter-spacing: 5px;
  margin-bottom: 24px;
  color: var(--Dark-grayish-blue);
}

.copy-container h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 24px;
}

.copy-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  color: var(--Dark-grayish-blue);
  margin-bottom: 24px;
}

/* Prices */
.prices {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.prices .current-price {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--Dark-cyan);
}

.prices .previous-price {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  margin-left: 24px;
}

/* Button */
.buy-btn {
  width: 293px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-cyan);
  color: var(--main-White);
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
}

.buy-btn .cart-icon {
  margin-right: 12px;
}

.buy-btn:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
}

/* Footer */
.attribution {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-align: center;
  margin-top: 48px;
}
.attribution a {
  text-decoration: none;
  color: rgb(61, 87, 189);
}

/* Media query for mobile */
@media (max-width: 375px) {
  .container {
    flex-direction: column;
    width: 320px;
    height: 600px;
  }

  .image-container {
    height: 300px;
    width: 333px;
    background: url(./images/image-product-mobile.jpg);
  }

  .copy-container {
    padding: 10px;
  }

  .copy-container h3 {
    font-size: 0.6rem;
    margin-bottom: 16px;
  }

  .copy-container h1 {
    font-size: 1.6rem;
    margin-bottom: 16px;
  }

  .copy-container p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  /* Prices  */
  .prices {
    margin-bottom: 16px;
  }

  .prices .current-price {
    font-size: 1.2rem;
  }

  .prices .previous-price {
    font-size: 0.6rem;
    margin-left: 16px;
  }

  /* Button */
  .buy-btn {
    width: 280px;
    height: 40px;
  }
}
