@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --main-Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --main-White: hsl(0, 0%, 100%);
}

/* Body styling */
body {
  background-color: var(--main-Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main */
/* Card Component */
.container {
  width: 800px;
  height: 480px;
  display: flex;
  background-color: var(--main-White);
  border-radius: 10px;
}

.image-container {
  width: 700px;
  height: inherit;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
